@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  background: #c0c0c0;
  font-family: Raleway, sans-serif;
  color: #666;
}

.form {
  margin: 20px auto;
  padding: 40px 50px;
  max-width: 300px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 1px 1px 1px #666;
}

.form input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.form input[type=text],
.form input[type=password] {
  border: 1px solid #c0c0c0;
  transition: .2s;
}

.form input[type=text]:hover {
  border-color: #F44336;
  outline: none;
  transition: all .2s ease-in-out;
}

.form input[type=submit] {
  border: none;
  background: #EF5350;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background: #F44336;
}

.form h2 {
  margin: 20px 0 0;
  color: #EF5350;
  font-size: 28px;
}

.form p {
  margin-bottom: 40px;
}

.links {
  display: table;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid #c0c0c0;
  margin-bottom: 10px;
}

.links a {
  display: table-cell;
  padding-top: 10px;
}

.links a:first-child {
  text-align: left;
}

.links a:last-child {
  text-align: right;
}

.form h2,
.form p,
.form a {
  text-align: center;
}

.form a {
  text-decoration: none;
  font-size: .8em;
}

.form a:visited {
  color: inherit;
}

.form a:hover {
  text-decoration: underline;
}


.form .btn {
  border: none;
  background: green;
  color: white;
  font-weight: bold;
  transition: 0.2s;
  margin: 20px 0px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 14px 12px;
  font-size: 16px;
  border-radius: 2px;
  font-family: Raleway, sans-serif;
}

.form .btn:hover {
  background: rgb(71, 150, 71);
}

.red {
  background-color: red !important;
  color: white;
}